@page "/setlist/{SetlistId:guid}"

@code {

    [Parameter]
    public Guid SetlistId { get; set; }

    Domain.DataModels.Setlist Model;


    protected override async Task OnInitializedAsync()
    {
        Model = await SetlistService.GetSetlistById(SetlistId);
    }


    async Task TrySave()
    {
        this.Model = await SetlistService.UpdateSetlist(Model);
    }

}


@if (Model != null)
{

    <h1>Setlist: @Model.Name</h1>
    <br />

    <div class="card">
        <div class="card-header">
            Detalles
        </div>
        <div class="card-body">
            <FormItem Label="Nombre:">
                <input type="text" class="form-control" @bind="@Model.Name">
            </FormItem>
            <FormItem Label="Descripción:">
                <input type="text" class="form-control" @bind="@Model.Description">
            </FormItem>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" @onclick="@TrySave">Guardar</button>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-header">
            Escenas asociadas
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Posición</th>
                        <th>Nombre</th>
                        <th>Duración</th>
                        <th>Contiene</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var scene in Model.SetlistScene)
                    {
                        <tr>
                            <td>@scene.Index</td>
                            <td>@scene.Scene.Name</td>
                            <td>@scene.Scene.Duration</td>
                            <td><Sigma.Roadie.Server.Pages.Setlists.Components.SetlistMediaLabel Scene="scene.Scene" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



}