@page "/setlist/{SetlistId:guid}"

@code {

    [Parameter]
    public Guid SetlistId { get; set; }

    Domain.DataModels.Setlist Model;
    List<Domain.DataModels.Scene> AvailableScenes { get; set; }

    bool IsSceneSelectorModalVisible { get; set; } = false;
    bool IsDeleteModalVisible { get; set; } = false;


    protected override async Task OnInitializedAsync()
    {
        Model = await SetlistService.GetSetlistById(SetlistId);

        AvailableScenes = await SceneService.GetScenes();
    }


    async Task TrySave()
    {
        this.Model = await SetlistService.UpdateSetlist(Model);
        this.SetlistId = Model.SetlistId;
    }


    async Task Delete()
    {
        await SetlistService.RemoveSetlist(Model.SetlistId);
        NavigationManager.NavigateTo("/setlists");
    }

    async Task Change(bool Selected, Guid sceneId)
    {
        if (Selected)
        {
            await SetlistService.AddSceneToSetlist(SetlistId, sceneId);
        }
        else
        {
            await SetlistService.RemoveSceneFromSetlist(SetlistId, sceneId);
        }
    }

    async Task UpdatePosition(Guid sceneId, int change)
    {
        await SetlistService.UpdateSceneIndexInSetlist(SetlistId, sceneId, change);
        Model = await SetlistService.GetSetlistById(SetlistId);
    }

}


@if (Model != null)
{

    <h1>Setlist: @Model.Name</h1>
    <br />

    <div class="card">
        <div class="card-header">
            Detalles
        </div>
        <div class="card-body">
            <FormItem Label="Nombre:">
                <input type="text" class="form-control" @bind="@Model.Name">
            </FormItem>
            <FormItem Label="Descripción:">
                <input type="text" class="form-control" @bind="@Model.Description">
            </FormItem>
            <FormItem Label="Duración total:">
                @Model.TotalLenght
            </FormItem>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" @onclick="@TrySave">Guardar</button>
            <button type="button" class="btn btn-warning" @onclick="@(() => IsDeleteModalVisible = true)">Eliminar</button>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-header">
            Escenas asociadas
            <button type="button" class="btn btn-primary btn-sm float-right" @onclick="@(() => IsSceneSelectorModalVisible = true)"><i class="oi oi-plus"></i></button>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Posición</th>
                        <th>Nombre</th>
                        <th>Duración</th>
                        <th>Contiene</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var scene in Model.SetlistScene)
                    {
                        <tr>
                            <td>
                                @scene.Index
                                @if (scene.Index > 1)
                                {
                                    <button type="button" class="btn btn-secondary btn-sm" @onclick="@(() => UpdatePosition(scene.SceneId, -1))"><i class="oi oi-arrow-top"></i></button>
                                }
                                @if (scene.Index < Model.SetlistScene.Count)
                                {
                                    <button type="button" class="btn btn-secondary btn-sm" @onclick="@(() => UpdatePosition(scene.SceneId, 1))"><i class="oi oi-arrow-bottom"></i></button>
                                }
                            </td>
                            <td>@scene.Scene.Name</td>
                            <td>@scene.Scene.Duration</td>
                            <td><Sigma.Roadie.Server.Pages.Setlists.Components.SetlistMediaLabel Scene="scene.Scene" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>




}




<ModalComponent Visible="@IsSceneSelectorModalVisible" DeleteAction="Delete" Title="Selector de escenas" CloseAction="() => IsSceneSelectorModalVisible = false" ShowCloseButton="true">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Duración</th>
                <th>Contiene</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var scene in AvailableScenes)
            {
                var isSelected = Model.SetlistScene.Any(q => q.SceneId == scene.SceneId);

                <tr>
                    <td><input type="checkbox" class="form-check-input" checked="@isSelected" @onchange="(e) => Change((bool)e.Value, scene.SceneId)"></td>
                    <td>@scene.Name</td>
                    <td>@scene.Duration</td>
                    <td><Sigma.Roadie.Server.Pages.Setlists.Components.SetlistMediaLabel Scene="scene" /></td>
                </tr>
            }
        </tbody>
    </table>
</ModalComponent>


<ModalComponent Visible="@IsDeleteModalVisible" DeleteAction="Delete" CancelAction="() => IsDeleteModalVisible = false" ShowCancelButton="true" ShowDeleteButton="true">
    ¿Eliminar el setlist?
</ModalComponent>
